@font-face {
    font-family: 'Myriad Pro Regular';
    src: url("../css/fonts/Myriad Pro Regular.eot");
    src: url("../css/fonts/Myriad Pro Regular.woff2") format("woff2"), url("../css/fonts/Myriad Pro Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../css/fonts/MyriadPro-Regular.woff") format("woff"), url("../css/fonts/MyriadPro-Regular.ttf") format("truetype"), url("../css/fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../css/fonts/Montserrat-Regular.eot");
    src: url("../css/fonts/Montserrat-Regular.woff2") format("woff2"), url("../css/fonts/Montserrat-Regular.woff") format("woff"), url("../css/fonts/Montserrat-Regular.ttf") format("truetype"), url("../css/fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg"), url("../css/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../css/fonts/Montserrat-Bold.eot");
    src: url("../css/fonts/Montserrat-Bold.woff2") format("woff2"), url("../css/fonts/Montserrat-Bold.woff") format("woff"), url("../css/fonts/Montserrat-Bold.ttf") format("truetype"), url("../css/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg"), url("../css/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url("../css/fonts/Montserrat-Light.eot");
    src: url("../css/fonts/Montserrat-Light.woff2") format("woff2"), url("../css/fonts/Montserrat-Light.woff") format("woff"), url("../css/fonts/Montserrat-Light.ttf") format("truetype"), url("../css/fonts/Montserrat-Light.svg#Montserrat-Light") format("svg"), url("../css/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzid-Bol';
    src: url("../css/AkzidenzGroteskPro-Bold.eot");
    src: url("../css/AkzidenzGroteskPro-Bold.woff2") format("woff2"), url("../css/fonts/AkzidenzGroteskPro-Bold.woff") format("woff"), url("../css/fonts/AkzidenzGroteskPro-Bold.ttf") format("truetype"), url("../css/fonts/AkzidenzGroteskPro-Bold.svg#AkzidenzGroteskPro-Bold") format("svg"), url("../css/fonts/AkzidenzGroteskPro-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzid-Reg';
    src: url("../css/fonts/AkzidenzGroteskPro-Regular.eot");
    src: url("../css/fonts/AkzidenzGroteskPro-Regular.woff2") format("woff2"), url("../css/fonts/AkzidenzGroteskPro-Regular.woff") format("woff"), url("../css/fonts/AkzidenzGroteskPro-Regular.ttf") format("truetype"), url("../css/fonts/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular") format("svg"), url("../css/fonts/AkzidenzGroteskPro-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheSansC4s-Black';
    src: url("../css/fonts/TheSansC4s-Black.eot");
    src: url("../css/fonts/TheSansC4s-Black.woff2") format("woff2"), url("../css/fonts/TheSansC4s-Black.woff") format("woff"), url("../css/fonts/TheSansC4s-Black.ttf") format("truetype"), url("../css/fonts/TheSansC4s-Black.svg#TheSansC4s-Black") format("svg"), url("../css/fonts/TheSansC4s-Black.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheSansC4s-Plain';
    src: url("../css/fonts/TheSansC4s-Plain.eot");
    src: url("../css/fonts/TheSansC4s-Plain.woff2") format("woff2"), url("../css/fonts/TheSansC4s-Plain.woff") format("woff"), url("../css/fonts/TheSansC4s-Plain.ttf") format("truetype"), url("../css/fonts/TheSansC4s-Plain.svg#TheSansC4s-Plain") format("svg"), url("../css/fonts/TheSansC4s-Plain.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url("../css/fonts/Oswald-SemiBold.eot");
    src: url("../css/fonts/Oswald-SemiBold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Oswald-SemiBold.svg#Oswald-SemiBold") format("svg"), url("../css/fonts/Oswald-SemiBold.ttf") format("truetype"), url("../css/fonts/Oswald-SemiBold.woff") format("woff"), url("../css/fonts/Oswald-SemiBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
