/* Jorge Quezada */
/* Generales */
/*     Variables*/
#slider_102 .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  #slider_226 {
    width: 90% !important;
    margin: 0 auto;
  }
}

.ContNew {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
}

/* Estilos de imagenes de cabeceras en productos */
@media screen and (min-width: 320px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .wrapper .button-menu-mobile {
    background-color: rgba(246, 246, 246, 0.75);
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0px;
    width: auto;
    padding: 0px 5px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 100;
    top: 170px;
  }
  .wrapper .button-menu-mobile.act {
    right: 285px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 30px;
  }
  .wrapper .button-menu-mobile.act span:nth-child(2) {
    display: none;
  }
  .wrapper .button-menu-mobile span {
    margin: 0px 2px;
  }
  .wrapper .prod-nav-cont {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #f6f6f6;
    position: absolute;
    right: -285px;
    width: 285px;
    height: 100%;
    padding: 0;
  }
  .wrapper .prod-nav-cont.act {
    right: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .wrapper .prod-nav-cont > nav > ul {
    list-style: none;
  }
  .wrapper .prod-nav-cont > nav > ul > li {
    text-align: left;
    padding: 38px 0px;
    border-bottom: 2px solid black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
  }
  .wrapper .prod-nav-cont > nav > ul > li:last-child {
    border-bottom: none;
  }
  .wrapper .prod-nav-cont > nav > ul > li:hover {
    background-color: #000;
  }
  .wrapper .prod-nav-cont > nav > ul > li:hover a {
    color: white;
  }
  .wrapper .prod-nav-cont > nav > ul > li:hover > ul {
    display: block;
  }
  .wrapper .prod-nav-cont > nav > ul > li a {
    font-family: "Akzid-Bol";
    font-size: 14px;
    color: #626262;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul {
    list-style: none;
    height: auto;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li {
    font-size: 11px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 3px 0;
    padding-left: 100px;
    text-align: left;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li > ul {
    list-style: none;
    height: auto;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li > ul > li {
    font-size: 11px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 3px 0;
    margin-left: -85px;
    padding-left: 100px;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li > ul > li:hover {
    background-color: #fff;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li > ul > li:hover a {
    color: #626262;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li > ul > li a {
    font-family: "Akzid-Reg";
    color: #626262;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li:hover {
    background-color: #fff;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li:hover a {
    color: #626262;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul > li a {
    font-family: "Akzid-Reg";
    color: #626262;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .wrapper .content {
    width: 100%;
    display: block;
    padding: 0px 15px;
  }
  .wrapper .content > .titulo {
    font-family: "Akzid-Reg";
    color: #595959;
    padding: 0px;
    border-left: 3px solid #009cd8;
    margin-bottom: 20px;
    padding-left: 7px;
  }
  .wrapper .content > .titulo p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 28px;
  }
  .wrapper .content .img-options {
    display: block;
    margin-bottom: 10px;
  }
  .wrapper .content .img-options .img-item {
    width: 100%;
    display: none;
    position: relative;
  }
  .wrapper .content .img-options .img-item .title {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    font-family: "Akzid-Bol";
    font-size: 28px;
    text-shadow: 0px 0px 5px black;
  }
  .wrapper .content .img-options .img-item.act {
    display: block;
  }
  .wrapper .content .img-options .img-item img {
    width: 100%;
  }
  .wrapper .content .slider- {
    width: 100%;
    display: block;
    padding: 30px 0px;
  }
  .wrapper .content .slider- > .titulo {
    font-family: "Akzid-Reg";
    color: #595959;
    padding: 0px;
    border-left: 3px solid #009cd8;
    margin-bottom: 20px;
    padding-left: 7px;
  }
  .wrapper .content .slider- > .titulo p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper .content .img-options {
    max-height: 346.17px;
  }
  .wrapper .content .img-options .img-item.act {
    max-height: 346.17px;
  }
  .wrapper .content .img-options .img-item img {
    max-height: 346.17px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* min-height: 180vh;*/
  }
  .wrapper .button-menu-mobile {
    display: none;
  }
  .wrapper .prod-nav-cont {
    position: relative;
    height: auto;
    right: 0px;
    top: 0px;
    margin-top: 49px;
    display: inline-block;
    padding: 0;
  }
  .wrapper .prod-nav-cont > nav > ul > li > ul {
    display: none;
  }
  .wrapper .content {
    width: 100%;
    display: inline-block;
    padding: 0px 15px;
  }
  .wrapper .content > .titulo {
    font-family: "Akzid-Reg";
    color: #595959;
    padding: 0px;
    border-left: 3px solid #009cd8;
    margin-bottom: 20px;
    padding-left: 7px;
  }
  .wrapper .content > .titulo p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 28px;
  }
  .wrapper .content .img-options {
    display: block;
    margin-bottom: 10px;
    max-height: 332.58px;
  }
  .wrapper .content .img-options .img-item {
    width: 100%;
    display: none;
  }
  .wrapper .content .img-options .img-item.act {
    display: block;
    max-height: 332.58px;
  }
  .wrapper .content .img-options .img-item img {
    width: 100%;
    max-height: 332.58px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper .content .img-options {
    max-height: 452.66px;
  }
  .wrapper .content .img-options .img-item.act {
    max-height: 452.66px;
  }
  .wrapper .content .img-options .img-item img {
    max-height: 452.66px;
  }
}

@media screen and (min-width: 1360px) {
  .wrapper .content .img-options {
    max-height: 490.19px;
  }
  .wrapper .content .img-options .img-item.act {
    max-height: 490.19px;
  }
  .wrapper .content .img-options .img-item img {
    max-height: 490.19px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper .content .img-options {
    max-height: 527.7px;
  }
  .wrapper .content .img-options .img-item.act {
    max-height: 527.7px;
  }
  .wrapper .content .img-options .img-item img {
    max-height: 527.7px;
  }
}

@media screen and (min-width: 1600px) {
  .wrapper .content .img-options {
    max-height: 682.77px;
  }
  .wrapper .content .img-options .img-item.act {
    max-height: 682.77px;
  }
  .wrapper .content .img-options .img-item img {
    max-height: 682.77px;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper .content .img-options {
    max-height: 752.88px;
  }
  .wrapper .content .img-options .img-item.act {
    max-height: 752.88px;
  }
  .wrapper .content .img-options .img-item img {
    max-height: 752.88px;
  }
}

/* Estilos del formato de nota o noticia*/
@media screen and (min-width: 320px) {
  .content-not {
    padding: 0 15px;
    width: 100%;
  }
  .content-not .hero {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .content-not .content-page {
    padding: 20px 0px;
  }
  .content-not .content-page .date {
    font-size: 12px;
    font-family: "Akzid-Bol";
  }
  .content-not .content-page .content-article {
    font-size: 16px;
    font-family: "Akzid-Reg";
  }
}

@media screen and (min-width: 768px) {
  .content-not .hero {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content-not .content-page {
    padding: 20px 40px;
  }
  .content-not .content-page .date {
    font-size: 12px;
    font-family: "Akzid-Bol";
  }
  .content-not .content-page .content-article {
    font-size: 16px;
    font-family: "Akzid-Reg";
  }
}
