/*JAQZ*/
@media screen and (min-width: 320px) {
  .home-noticias {
    width: 100%;
  }
  .home-noticias .home-noticias-cont {
    position: relative;
    list-style: none;
    margin: 0px;
    height: 250px;
  }
  .home-noticias .home-noticias-cont .home-noticias-item {
    height: 250px;
    float: left;
    display: block;
    position: relative;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info {
    padding: 25px;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(10, 58, 91, 0.5);
    font-family: 'Akzid-Bol';
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .titulo {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    width: 90%;
    height: 60px;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .date {
    font-family: 'Akzid-Reg';
    font-size: 22px;
    color: #44a7ff;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .extracto {
    font-family: 'Akzid-Reg';
    font-size: 15px;
    display: none;
    line-height: 18px;
    color: white;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .extracto p {
    width: 75%;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .mas {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover {
    background: rgba(10, 58, 135, 0.9);
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover .extracto {
    display: block;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover .mas {
    display: block;
    cursor: pointer;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .bg {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .bg img {
    width: 100%;
    height: 450px;
  }
}

@media screen and (min-width: 768px) {
  .home-noticias {
    width: 100%;
  }
  .home-noticias .home-noticias-cont {
    position: relative;
    list-style: none;
    margin: 0px;
    height: 350px;
  }
  .home-noticias .home-noticias-cont .home-noticias-item {
    height: 350px;
    width: calc(100% / 3);
    float: left;
    display: block;
    position: relative;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info {
    padding: 25px;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(10, 58, 91, 0.5);
    font-family: 'Akzid-Bol';
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .titulo {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    width: 90%;
    height: 60px;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .date {
    font-family: 'Akzid-Reg';
    font-size: 22px;
    color: #44a7ff;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .extracto {
    font-family: 'Akzid-Reg';
    font-size: 15px;
    display: none;
    line-height: 18px;
    color: white;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .extracto p {
    width: 75%;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .mas {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover {
    background: rgba(10, 58, 135, 0.9);
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover .extracto {
    display: block;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover .mas {
    display: block;
    cursor: pointer;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .bg {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .bg img {
    width: 100%;
    height: 420px;
  }
}

@media screen and (min-width: 1280px) {
  .home-noticias {
    width: 100%;
  }
  .home-noticias .home-noticias-cont {
    position: relative;
    list-style: none;
    margin: 0px;
    height: 300px;
  }
  .home-noticias .home-noticias-cont .home-noticias-item {
    height: 300px;
    width: calc(100% / 3);
    float: left;
    display: block;
    position: relative;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info {
    padding: 25px;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(10, 58, 91, 0.5);
    font-family: 'Akzid-Bol';
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .titulo {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    width: 90%;
    height: 60px;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .date {
    font-family: 'Akzid-Reg';
    font-size: 22px;
    color: #44a7ff;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .extracto {
    font-family: 'Akzid-Reg';
    font-size: 15px;
    display: none;
    line-height: 18px;
    color: white;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .extracto p {
    width: 75%;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info .mas {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover {
    background: rgba(10, 58, 135, 0.9);
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover .extracto {
    display: block;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .info:hover .mas {
    display: block;
    cursor: pointer;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .bg {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .home-noticias .home-noticias-cont .home-noticias-item .bg img {
    width: 100%;
    height: 300px;
  }
}
