@media screen and (max-width: 899px) {
  .modal-anuncio-membrana {
    position: fixed;
    top: -200%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    z-index: 99999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    padding-top: 50px;
  }
  .modal-anuncio-membrana.active {
    top: 0;
  }
  .modal-anuncio-membrana .box {
    background-color: white;
    width: 80%;
    border-radius: 8px;
    max-width: 500px;
    padding: 20px 20px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    position: relative;
  }
  .modal-anuncio-membrana .box .close-anuncio {
    background-color: #006bb7;
    position: absolute;
    right: -15px;
    top: -15px;
    color: white;
    height: 30px;
    width: 30px;
    z-index: 99999;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1;
    cursor: pointer;
  }
  .modal-anuncio-membrana .box .title {
    text-align: center;
    border-radius: 8px;
    font-size: bold;
    font-size: 14px;
    line-height: 15px;
    background-color: #006bb7;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
  }
  .modal-anuncio-membrana .box label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    color: #006bb7;
    margin-bottom: 15px;
    font-size: 10px;
  }
  .modal-anuncio-membrana .box label span {
    width: 100%;
  }
  .modal-anuncio-membrana .box label span input {
    height: 18px;
    padding: 2px;
    display: block;
    width: calc(100% - 10px);
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    color: black;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid black;
  }
  .modal-anuncio-membrana .box label span textarea {
    width: calc(100% - 10px);
    height: 50px;
    padding: 5px;
    color: black;
    font-size: 18px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid black;
  }
  .modal-anuncio-membrana .box input[type="submit"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid #006bb7;
    border-radius: 2px;
    padding: 10px 20px;
    margin: 0 auto;
    color: white;
    background-color: #006bb7;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    width: 100%;
  }
  .modal-anuncio-membrana .box input[type="submit"]:hover {
    background-color: white;
    color: #006bb7;
  }
  .contain-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
  }
  .contain-wrapper .column:first-child {
    width: 100%;
  }
  .contain-wrapper .column:last-child {
    width: 100%;
    padding: 10px 5px;
  }
  .contain-wrapper .column:last-child a {
    cursor: pointer;
  }
  .contain-wrapper .column:last-child a img {
    width: 100%;
  }
  .contain-wrapper .cont-modulo-disclaimer {
    width: 95% !important;
  }
}

@media screen and (min-width: 900px) {
  .modal-anuncio-membrana {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 100%;
    z-index: 99999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .modal-anuncio-membrana.active {
    top: 0;
  }
  .modal-anuncio-membrana .box {
    background-color: white;
    width: 60%;
    border-radius: 8px;
    max-width: 500px;
    padding: 20px 40px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    position: relative;
  }
  .modal-anuncio-membrana .box .close-anuncio {
    background-color: #006bb7;
    position: absolute;
    right: -15px;
    top: -15px;
    color: white;
    height: 30px;
    width: 30px;
    z-index: 99999;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1;
    cursor: pointer;
  }
  .modal-anuncio-membrana .box .title {
    text-align: center;
    border-radius: 8px;
    font-size: bold;
    font-size: 18px;
    line-height: 20px;
    background-color: #006bb7;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
  }
  .modal-anuncio-membrana .box label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    color: #006bb7;
    margin-bottom: 15px;
    font-size: 10px;
  }
  .modal-anuncio-membrana .box label span {
    width: 100%;
  }
  .modal-anuncio-membrana .box label span input {
    height: 22px;
    padding: 2px;
    display: block;
    width: calc(100% - 10px);
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    color: black;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid black;
  }
  .modal-anuncio-membrana .box label span textarea {
    width: calc(100% - 10px);
    height: 50px;
    padding: 5px;
    color: black;
    font-size: 18px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid black;
  }
  .modal-anuncio-membrana .box input[type="submit"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid #006bb7;
    border-radius: 2px;
    padding: 10px 20px;
    margin: 0 auto;
    color: white;
    background-color: #006bb7;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .modal-anuncio-membrana .box input[type="submit"]:hover {
    background-color: white;
    color: #006bb7;
  }
  .contain-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
  }
  .contain-wrapper .column:first-child {
    width: 77%;
  }
  .contain-wrapper .column:last-child {
    width: 23%;
    padding: 10px 5px;
  }
  .contain-wrapper .column:last-child img {
    width: 100%;
  }
  .contain-wrapper .cont-modulo-disclaimer {
    width: 95% !important;
  }
}
