/* Jorge Quezada */
/* Plantilla productos  Aislamiento Industrial*/
@media screen and (min-width: 320px) {
  .wrapper .content .prod-cc-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 48.8%;
    display: block;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .img {
    text-align: center;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .img img {
    max-width: 100%;
    width: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .img img:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .info {
    padding: 10px;
    height: auto;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .info p {
    padding: 0;
    margin: 0;
    color: #595959;
    font-family: 'Akzid-Bol';
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 5px;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .file a img {
    cursor: pointer;
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper .content .prod-cc-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 32.8%;
    max-width: 32.8%;
    display: block;
    margin-bottom: 10px;
    margin-right: .7%;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item:nth-child(3n) {
    margin-right: 0px;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .img img {
    max-width: 100%;
    width: 100%;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .info {
    padding: 10px;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .info p {
    padding: 0;
    margin: 0;
    color: #595959;
    font-family: 'Akzid-Bol';
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 5px;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .file a img {
    cursor: pointer;
    width: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper .content .prod-cc-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 24.5%;
    max-width: 24.5%;
    display: block;
    margin-bottom: 10px;
    margin-right: 0.5%;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item:nth-child(3n) {
    margin-right: 0.5%;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item:nth-child(4n) {
    margin-right: 0px;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .img img {
    width: 100%;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .info {
    padding: 10px;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .cont .info p {
    padding: 0;
    margin: 0;
    color: #595959;
    font-family: 'Akzid-Bol';
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 5px;
  }
  .wrapper .content .prod-cc-cont .prod-cc-item .file a img {
    cursor: pointer;
    width: 120px;
  }
}
