.banner {
    background-color: red;
    max-height: 1080px;
}


.cont-table-measures {
    display: block;
    background-image: url(../img/2023/cover-table-measures.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px 30px;
    min-height: 800px;

    .title {
        color: white;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        position: relative;
        font-family: 'Montserrat-Regular';

        &::before {
            content: '';
            position: absolute;
            left: calc(50% - 33px);
            top: calc(100% + 10px);
            width: 66px;
            height: 8px;
            background-color: #7cdcfc;
        }
    }

    .desc {
        color: white;
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
        font-weight: bold;
        position: relative;
        font-family: 'Montserrat-Regular';

    }

    .container_table {
        max-width: 1450px;
        margin: 0 auto;

        .table-measures {
            margin-top: 30px;

            .row {
                display: flex;
                margin: 0 auto;
                margin-top: 5px;
                width: 98%;
                box-sizing: border-box;

                .cell {
                    width: 10%;
                    padding: 0px;
                    box-sizing: border-box;
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Montserrat-Regular';

                    &:first-child {
                        margin-right: 10px;
                        width: 80px;
                    }


                    input {
                        width: 100%;
                        appearance: none;
                        border: none;
                        border: 1px solid white;
                        background-color: transparent;
                        height: 40px;
                        font-family: 'Montserrat-Regular';
                        text-align: center;

                        &.wide-input {
                            width: 200px;
                        }


                    }

                    &.tar {
                        justify-content: end;
                        text-align: right;
                    }

                    &.tac {
                        text-align: center;
                    }

                    &.wide {
                        width: 320px;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        line-height: 1;
                        margin-bottom: 10px;
                    }


                }
            }
        }

        .table-final {
            display: flex;
            align-items: center;
            justify-content: end;
            margin: 0 auto;
            margin-top: 30px;
            box-sizing: border-box;
            width: 95%;

            .text {
                color: #fff;
                margin-right: 27px;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                max-width: 310px;
                text-align: right;
                font-family: 'Montserrat-Regular';
                line-height: 1;
            }

            input {
                height: 50px;
                appearance: none;
                border: 1px solid white;
                background-color: transparent;
                font-weight: bold;
                font-size: 24px;
                color: white;
                width: 120px;
                text-align: center;
                margin-right: 30px;
                font-family: 'Montserrat-Regular';
            }
        }
    }
}

.cont-table-results {
    display: block;
    background-position: center;
    background-size: cover;
    padding: 150px 30px;
    min-height: 800px;


    .title {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        position: relative;
        font-family: 'Montserrat-Regular';

        &::before {
            content: '';
            position: absolute;
            left: calc(50% - 33px);
            top: calc(100% + 10px);
            width: 66px;
            height: 8px;
            background-color: #006bb7;
        }
    }

    table {
        width: 500px;
        border-collapse: collapse;
        padding: 10px;
        width: 80%;
        margin: 0 auto;
        border: 1;
        margin-top: 80px;



        thead {
            background-color: #006bb7;
            color: white;

            th {
                text-align: center;
                padding: 10px;
            }
        }

        tr:nth-child(odd) {
            background-color: rgba(gray, 0.1);
        }

        th,
        td {
            padding: 10px;
        }

        tr {
            td:nth-child(4) {
                font-weight: bold;
                text-align: center;
            }
        }


    }


}

@media screen and (min-width: 300px) {
    .cont-render {
        width: 100%;
        display: block;
        padding: 90px 10px;

        .render-img-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 280px;
            margin: 0 auto;

            .render {
                margin: 0 auto;
                max-width: 280px;
            }

            .items-cont {
                .item-prod {
                    .prod {

                        cursor: pointer;

                        &#prod-1 {
                            width: 30px;
                            position: absolute;
                            top: -48%;
                            left: calc(58.5% - 15px);
                        }

                        &#prod-2 {
                            width: 35px;
                            position: absolute;
                            top: -35%;
                            left: calc(24% - 17.5px);
                        }

                        &#prod-3 {
                            width: 35px;
                            position: absolute;
                            top: -43%;
                            left: calc(87% - 17.5px);
                        }

                        &#prod-4 {
                            width: 32px;
                            position: absolute;
                            top: -5%;
                            left: calc(106% - 10px);
                        }

                        &#prod-5 {
                            width: 30px;
                            position: absolute;
                            top: 30%;
                            left: calc(116% - 35px);
                        }

                        &#prod-6 {
                            width: 30px;
                            position: absolute;
                            top: 65%;
                            left: calc(113% - 30px);
                        }


                        &#prod-7 {
                            width: 40px;
                            position: absolute;
                            top: 110%;
                            left: calc(86% - 20px);
                        }

                        &#prod-8 {
                            width: 20px;
                            position: absolute;
                            top: 107%;
                            left: calc(70.3% - 9px);
                        }

                        &#prod-9 {
                            width: 30px;
                            position: absolute;
                            top: 109%;
                            left: calc(44% - 20px);
                        }

                        &#prod-10 {
                            width: 30px;
                            position: absolute;
                            top: 108%;
                            left: calc(18% - 30px);
                        }

                        &#prod-11 {
                            width: 30px;
                            position: absolute;
                            top: 60%;
                            left: calc(-4% - 30px);
                        }

                        &#prod-12 {
                            width: 30px;
                            position: absolute;
                            top: -9%;
                            left: calc(1% - 30px);
                        }
                    }

                    .guia {


                        &#guia-1 {
                            width: 2.2px;
                            position: absolute;
                            z-index: 10;
                            top: -7%;
                            left: calc(60% - 1px);
                        }

                        &#guia-2 {

                            width: 2.1px;
                            position: absolute;
                            z-index: 10;
                            top: -7%;
                            left: calc(26% - 1px);
                        }

                        &#guia-3 {
                            width: 40px;
                            position: absolute;
                            z-index: 10;
                            top: -7%;
                            left: calc(74.5% - 11px);
                        }

                        &#guia-4 {
                            width: 12px;
                            position: absolute;
                            z-index: 10;
                            top: 13%;
                            left: calc(100% - 8px);
                        }

                        &#guia-5 {
                            width: 60px;
                            position: absolute;
                            z-index: 10;
                            top: 49%;
                            left: calc(102% - 30px);
                        }

                        &#guia-6 {
                            width: 50px;
                            position: absolute;
                            z-index: 10;
                            top: 90%;
                            left: calc(98% - 25px);
                        }

                        &#guia-7 {
                            width: 16px;
                            position: absolute;
                            z-index: 10;
                            top: 64.5%;
                            left: calc(83% - 10px);
                        }

                        &#guia-8 {
                            width: 12px;
                            position: absolute;
                            z-index: 10;
                            top: 90%;
                            left: calc(67.3% - 6px);
                        }

                        &#guia-9 {
                            width: 14px;
                            position: absolute;
                            z-index: 10;
                            top: 90%;
                            left: calc(47% - 9px);
                        }

                        &#guia-10 {
                            width: 10px;
                            position: absolute;
                            z-index: 10;
                            top: 90%;
                            left: calc(18% - 10px);
                        }

                        &#guia-11 {
                            width: 50px;
                            position: absolute;
                            z-index: 10;
                            top: 46%;
                            left: calc(5% - 25px);
                        }

                        &#guia-12 {
                            width: 25px;
                            position: absolute;
                            z-index: 10;
                            top: 10%;
                            left: calc(6.5% - 14px);
                        }

                    }
                }
            }
        }
    }

}


@media screen and (min-width: 500px) {
    .cont-render {
        padding: 120px 10px;

        .render-img-cont {
            width: 320px;

            .render {
                max-width: 320px;
            }

            .items-cont {
                .item-prod {
                    .prod {



                        &#prod-1 {
                            width: 30px;
                            top: -48%;
                            left: calc(58.5% - 15px);
                        }

                        &#prod-2 {
                            width: 40px;
                            top: -35%;
                            left: calc(24% - 17.5px);
                        }

                        &#prod-3 {
                            width: 40px;
                            top: -43%;
                            left: calc(87% - 17.5px);
                        }

                        &#prod-4 {
                            width: 40px;
                            top: -5%;
                            left: calc(106% - 10px);
                        }

                        &#prod-5 {
                            width: 50px;
                            top: 27%;
                            left: calc(116% - 35px);
                        }

                        &#prod-6 {
                            width: 40px;
                            top: 69%;
                            left: calc(113% - 30px);
                        }


                        &#prod-7 {
                            width: 45px;
                            top: 110%;
                            left: calc(86% - 18px);
                        }

                        &#prod-8 {
                            width: 25px;
                            top: 107%;
                            left: calc(70.3% - 9px);
                        }

                        &#prod-9 {
                            width: 40px;
                            top: 109%;
                            left: calc(44% - 20px);
                        }

                        &#prod-10 {
                            width: 40px;
                            top: 108%;
                            left: calc(18% - 30px);
                        }

                        &#prod-11 {
                            width: 40px;
                            top: 60%;
                            left: calc(-4% - 30px);
                        }

                        &#prod-12 {
                            width: 40px;
                            top: -9%;
                            left: calc(1% - 30px);
                        }
                    }

                    .guia {


                        &#guia-1 {
                            width: 2.2px;
                            z-index: 10;
                            top: -7%;
                            left: calc(60% - 1px);
                        }

                        &#guia-2 {

                            width: 2.1px;
                            z-index: 10;
                            top: -7%;
                            left: calc(26% - 1px);
                        }

                        &#guia-3 {
                            width: 40px;
                            z-index: 10;
                            top: -7%;
                            left: calc(74.5% - 11px);
                        }

                        &#guia-4 {
                            width: 12px;
                            z-index: 10;
                            top: 13%;
                            left: calc(100% - 8px);
                        }

                        &#guia-5 {
                            width: 60px;
                            z-index: 10;
                            top: 49%;
                            left: calc(102% - 30px);
                        }

                        &#guia-6 {
                            width: 50px;
                            z-index: 10;
                            top: 90%;
                            left: calc(98% - 25px);
                        }

                        &#guia-7 {
                            width: 16px;
                            z-index: 10;
                            top: 68%;
                            left: calc(83% - 10px);
                        }

                        &#guia-8 {
                            width: 12px;
                            z-index: 10;
                            top: 90%;
                            left: calc(67.3% - 6px);
                        }

                        &#guia-9 {
                            width: 14px;
                            z-index: 10;
                            top: 90%;
                            left: calc(47% - 9px);
                        }

                        &#guia-10 {
                            width: 15px;
                            z-index: 10;
                            top: 90%;
                            left: calc(18% - 10px);
                        }

                        &#guia-11 {
                            width: 50px;
                            z-index: 10;
                            top: 46%;
                            left: calc(8% - 25px);
                        }

                        &#guia-12 {
                            width: 25px;
                            z-index: 10;
                            top: 10%;
                            left: calc(6.5% - 14px);
                        }

                    }
                }
            }
        }
    }

}


@media screen and (min-width: 800px) {
    .cont-render {
        width: 100%;

        padding: 220px 10px;

        .render-img-cont {

            width: 520px;
            margin: 0 auto;

            .render {
                margin: 0 auto;
                max-width: 520px;
            }

            .items-cont {
                .item-prod {
                    .prod {

                        cursor: pointer;

                        &#prod-1 {
                            width: 50px;
                            position: absolute;
                            top: -48%;
                            left: calc(59% - 25px);
                        }

                        &#prod-2 {
                            width: 60px;
                            position: absolute;
                            top: -35%;
                            left: calc(24% - 17.5px);
                        }

                        &#prod-3 {
                            width: 60px;
                            position: absolute;
                            top: -43%;
                            left: calc(87% - 17.5px);
                        }

                        &#prod-4 {
                            width: 70px;
                            position: absolute;
                            top: -12%;
                            left: calc(106% - 15px);
                        }

                        &#prod-5 {
                            width: 60px;
                            position: absolute;
                            top: 30%;
                            left: calc(116% - 50px);
                        }

                        &#prod-6 {
                            width: 80px;
                            position: absolute;
                            top: 69%;
                            left: calc(113% - 30px);
                        }


                        &#prod-7 {
                            width: 75px;
                            position: absolute;
                            top: 110%;
                            left: calc(86% - 18px);
                        }

                        &#prod-8 {
                            width: 45px;
                            position: absolute;
                            top: 107%;
                            left: calc(70.3% - 23px);
                        }

                        &#prod-9 {
                            width: 80px;
                            position: absolute;
                            top: 109%;
                            left: calc(44% - 40px);
                        }

                        &#prod-10 {
                            width: 70px;
                            position: absolute;
                            top: 108%;
                            left: calc(18% - 35px);
                        }

                        &#prod-11 {
                            width: 60px;
                            position: absolute;
                            top: 60%;
                            left: calc(-4% - 70px);
                        }

                        &#prod-12 {
                            width: 70px;
                            position: absolute;
                            top: -10%;
                            left: calc(-8% - 35px);
                        }
                    }

                    .guia {

                        display: none;

                        &#guia-1 {
                            width: 4px;
                            position: absolute;
                            z-index: 10;
                            top: -10%;
                            left: calc(60% - 2px);
                        }

                        &#guia-2 {

                            width: 3.5px;
                            position: absolute;
                            z-index: 10;
                            top: -5%;
                            left: calc(28% - 2px);
                        }

                        &#guia-3 {
                            width: 75px;
                            position: absolute;
                            z-index: 10;
                            top: -7%;
                            left: calc(74.5% - 20px);
                        }

                        &#guia-4 {
                            width: 20px;
                            position: absolute;
                            z-index: 10;
                            top: 11%;
                            left: calc(100% - 10px);
                        }

                        &#guia-5 {
                            width: 100px;
                            position: absolute;
                            z-index: 10;
                            top: 53%;
                            left: calc(102% - 55px);
                        }

                        &#guia-6 {
                            width: 80px;
                            position: absolute;
                            z-index: 10;
                            top: 90%;
                            left: calc(98% - 40px);
                        }

                        &#guia-7 {
                            width: 30px;
                            position: absolute;
                            z-index: 10;
                            top: 68%;
                            left: calc(83% - 15px);
                        }

                        &#guia-8 {
                            width: 20px;
                            position: absolute;
                            z-index: 10;
                            top: 90%;
                            left: calc(67.3% - 10px);
                        }

                        &#guia-9 {
                            width: 24px;
                            position: absolute;
                            z-index: 10;
                            top: 90%;
                            left: calc(47% - 12px);
                        }

                        &#guia-10 {
                            width: 25px;
                            position: absolute;
                            z-index: 10;
                            top: 90%;
                            left: calc(18% - 15px);
                        }

                        &#guia-11 {
                            width: 110px;
                            position: absolute;
                            z-index: 10;
                            top: 46%;
                            left: calc(8% - 70px);
                        }

                        &#guia-12 {
                            width: 60px;
                            position: absolute;
                            z-index: 10;
                            top: 10%;
                            left: calc(6.5% - 30px);
                        }

                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1089px) {
    .cont-render {
        position: relative;
        padding: 220px 60px;

        .popup-cont {
            display: none;
            z-index: 10;
            position: absolute;
            top: 0;
            right: 0;
            width: 450px;
            height: 100px;

            .text {
                max-width: 450px;
                background-color: #006bb7;
                color: #fff;
                padding: 20px;
            }

            .boton {
                background-color: #fff;
                padding: 10px 20px;
                border: 2px solid #006bb7;
                color: #006bb7;
                font-size: 20px;
                margin-top: 10px;
                width: fit-content;
                font-family: "Montserrat-Bold";
                font-weight: bold;
                text-transform: uppercase;
            }

        }

        .render-img-cont {

            width: 1090px;


            .render {

                max-width: 1090px;
            }

            .items-cont {
                .item-prod {
                    .prod {
                        cursor: pointer;

                        &#prod-1 {
                            width: 110px;
                            top: -48%;
                            left: calc(58.5% - 55px);
                        }

                        &#prod-2 {
                            width: 144px;
                            top: -35%;
                            left: calc(24% - 55px);
                        }

                        &#prod-3 {
                            width: 135px;
                            top: -43%;
                            left: calc(87% - 72px);
                        }

                        &#prod-4 {
                            width: 174px;
                            top: -11%;
                            left: calc(108% - 72px);
                        }

                        &#prod-5 {
                            width: 130px;
                            top: 30%;
                            left: calc(116% - 65px);
                        }

                        &#prod-6 {
                            width: 188px;
                            top: 80%;
                            left: calc(113% - 65px);
                        }


                        &#prod-7 {
                            width: 175px;
                            top: 110%;
                            left: calc(86% - 65px);
                        }

                        &#prod-8 {
                            width: 82px;
                            top: 105%;
                            left: calc(70.3% - 41px);
                        }

                        &#prod-9 {
                            width: 168px;
                            top: 106%;
                            left: calc(44% - 84px);
                        }

                        &#prod-10 {
                            width: 169px;
                            top: 108%;
                            left: calc(18% - 84.5px);
                        }

                        &#prod-11 {
                            width: 140px;
                            top: 60%;
                            left: calc(-12% - 70px);
                        }

                        &#prod-12 {
                            width: 197px;
                            top: -9%;
                            left: calc(-8.5% - 98.5px);
                        }
                    }

                    .guia {
                        &#guia-1 {
                            width: 8px;
                            z-index: 10;
                            top: -7%;
                            left: calc(60% - 4px);
                        }

                        &#guia-2 {
                            width: 8px;
                            z-index: 10;
                            top: -7%;
                            left: calc(29% - 4px);
                        }

                        &#guia-3 {
                            width: 169px;
                            z-index: 10;
                            top: -7%;
                            left: calc(74.5% - 50px);
                        }

                        &#guia-4 {
                            width: 41px;
                            z-index: 10;
                            top: 13%;
                            left: calc(100% - 20.5px);
                        }

                        &#guia-5 {
                            width: 240px;
                            z-index: 10;
                            top: 49%;
                            left: calc(102% - 120px);
                        }

                        &#guia-6 {
                            width: 190px;
                            z-index: 10;
                            top: 90%;
                            left: calc(98% - 95px);
                        }

                        &#guia-7 {
                            width: 66px;
                            z-index: 10;
                            top: 64.5%;
                            left: calc(83% - 33px);
                        }

                        &#guia-8 {
                            width: 42px;
                            z-index: 10;
                            top: 90%;
                            left: calc(67.3% - 21px);
                        }

                        &#guia-9 {
                            width: 46px;
                            z-index: 10;
                            top: 90%;
                            left: calc(47% - 23px);
                        }

                        &#guia-10 {
                            width: 55px;
                            z-index: 10;
                            top: 90%;
                            left: calc(18% - 22.5px);
                        }

                        &#guia-11 {
                            width: 209px;
                            z-index: 10;
                            top: 46%;
                            left: calc(5% - 104.5px);
                        }

                        &#guia-12 {
                            width: 122px;
                            z-index: 10;
                            top: 10%;
                            left: calc(6.5% - 61px);
                        }

                    }
                }
            }
        }
    }

}