$color_1: #595959;
$color_2: white;
$color_3: #0069ba;
$color_4: #d1d1d1;
$font-family_1: "Akzid-Reg";
$font-family_2: "Oswald-SemiBold";
$background-color_1: rgba(0, 0, 0, 0.8);
$background-color_2: #fff;
$background-color_3: rgba(0, 0, 0, 0.04);
$border-color_1: white;

.titulo {
    font-family: $font-family_1;
    color: $color_1;
    padding: 0px;
    border-left: 3px solid #009cd8;
    margin-bottom: 20px;
    padding-left: 7px;

    p {
        margin: 0px;
        padding: 0px;
        line-height: 30px;
        font-size: 28px;
    }
}

.prod-video-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    video {
        width: 90%;
        height: auto;
        max-width: 1000px;
    }
}

.teja-cont {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

    &__banner {
        position: relative;

        img {
            width: 100%;
        }

        &-buttons-cont {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
            bottom: 130px;
            width: 100%;

            &-button {
                width: 270px;
                height: 70px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
                font-family: $font-family_2;
                border: 2px solid #0069ba;
                background-color: $background-color_1;
                cursor: pointer;
                color: $color_2;
                -webkit-transition: all 300ms;
                transition: all 300ms;

                &:hover {
                    background-color: $background-color_2;
                    border-color: $border-color_1;
                    color: $color_3;
                }

                &:first-child {
                    margin-right: 190px;
                }

                &.active {
                    background-color: $background-color_2;
                    border-color: $border-color_1;
                    color: $color_3;
                }
            }
        }
    }

    &__options-cont {
        margin: 0 auto;
        width: 100%;
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        display: none;

        &.active {
            display: block;
        }

        &-items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;

            &-item {
                width: 170px;
                height: 170px;
                margin: 15px 10px;
                cursor: pointer;

                &-img {
                    max-width: 170px;
                    height: 108px;
                    background-position: center;
                    background-size: contain;
                }

                &.active {
                    .teja-cont__options-cont-items-item-img {
                        border: 6px solid white;
                        -webkit-box-shadow: 0px 11px 17px 8px #a1cee2;
                        box-shadow: 0px 11px 17px 8px #a1cee2;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                    }

                    .teja-cont__options-cont-items-item-text {
                        font-weight: bold;
                        color: $color_3;
                    }
                }

                &-text {
                    padding-top: 28px;
                    text-align: center;
                    line-height: 1.2;

                    .small {
                        color: $color_4;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.teja_content {
    display: none;

    &.act {
        display: block;
    }

    .teja {
        .info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: $background-color_3;
            padding: 30px;
            max-width: 740px;
            margin: 0 auto;
            margin-bottom: 20px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;

            .img {
                margin-bottom: 20px;
                width: 320px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                img {
                    width: 90%;
                }
            }

            .desc {
                padding: 10px;
                width: 320px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;

                p {
                    padding: 0;
                    margin: 0;
                    color: $color_1;
                    font-family: $font-family_1;
                    font-size: 20px;
                    line-height: 1.2;
                }

                .files {
                    margin-top: 30px;

                    a {
                        img {
                            max-width: 135px;
                            width: 100%;
                            display: block;
                            margin: 5px 0px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1080px) {
    .teja-cont {


        &__banner {


            &-buttons-cont {
                bottom: -30px;

                &-button {

                    height: 50px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 18px;
                    font-family: $font-family_2;
                    border: 2px solid #0069ba;
                    background-color: $background-color_1;
                    cursor: pointer;
                    color: $color_2;
                    -webkit-transition: all 300ms;
                    transition: all 300ms;
                    margin: 10px;

                    &:hover {
                        background-color: $background-color_2;
                        border-color: $border-color_1;
                        color: $color_3;
                    }

                    &:first-child {
                        margin-right: 10px;
                    }

                    &.active {
                        background-color: $background-color_2;
                        border-color: $border-color_1;
                        color: $color_3;
                    }
                }
            }
        }

        &__options-cont {
            margin: 0 auto;
            width: 100%;
            padding: 5px 0;
            margin-top: 30px;
            margin-bottom: 50px;

            display: none;

            &.active {
                display: block;
            }

            &-items {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;

                &-item {
                    box-sizing: border-box;
                    width: 30%;
                    height: auto;
                    margin: 5px;
                    cursor: pointer;

                    &-img {
                        max-width: 100%;
                        margin: 0 auto;
                        // height: 50px;
                        background-position: center;
                        background-size: contain;
                    }

                    &.active {
                        .teja-cont__options-cont-items-item-img {
                            border: 2px solid white;
                            -webkit-box-shadow: 0px 11px 17px 8px #a1cee2;
                            box-shadow: 0px 11px 17px 8px #a1cee2;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                        }

                        .teja-cont__options-cont-items-item-text {
                            font-weight: bold;
                            color: $color_3;
                        }
                    }

                    &-text {
                        padding-top: 28px;
                        font-size: 16px;
                        text-align: center;
                        line-height: 1.2;

                        .small {
                            margin-top: 5px;
                            color: $color_4;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}