#sustentabilidad {
    .wrapper {
        .content {
            .banner {
                width: 100%;
            }
        }
    }
}

.blue-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #316ab1;
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 1;
    font-family: 'Oswald-SemiBold';
    padding-bottom: 10px;

    span {
        padding: 10px;

        img {
            width: 40px;
            width: auto;
            height: 40px;
        }
    }
}

.desc {
    font-size: 16px;
    text-align: justify;
}

.desc-img {
    img {
        width: 100%;
    }
}

hr {
    background-color: #000;
    opacity: 1;
    height: 2px;
}

@media screen and (max-width: 767px) {
    #sustentabilidad {
        .wrapper {
            .content {
                .inner-wrapper {
                    .inner-item {
                        padding: 30px 0;
                        display: block;

                        .column {
                            width: 100%;

                            img {
                                margin-top: 20px;
                            }
                        }
                    }

                    .inner-videos {
                        padding: 30px 0;

                        .grid {
                            video, iframe {
                                margin: 10px 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #sustentabilidad {
        .wrapper {
            .content {
                .banner {
                    width: 100%;
                }

                .inner-wrapper {
                    padding: 20px 0;
                    max-width: 1280px;
                    margin: 0 auto;

                    .inner-item {
                        padding: 80px 0;
                        display: flex;
                        align-items: center;

                        .column {
                            &:nth-child(1) {
                                width: 55%;
                                padding-right: 40px;
                            }

                            &:nth-child(2) {
                                width: 45%;
                            }
                        }
                    }

                    .inner-videos {
                        padding: 80px 0;

                        .grid {
                            display: flex;
                            align-items: stretch;
                            justify-content: space-between;

                            video, iframe {
                                width: 49%;
                            }
                        }
                    }
                }
            }
        }
    }
}
