/* Jorge Quezada */
/* Plantilla productos  Aislamiento Industrial*/
@media screen and (min-width: 320px) {
  .wrapper{
    .content{
      .prod-sv-cont{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .prod-sv-item{
          flex-grow: 1;
          max-width: 48.8%;
          display: block;
          background-color: #FFF;
          // border: 5px solid rgba(#000, 0.2);
          background-color: rgba(#000, 0.05);
          margin-bottom: 5px;
          .cont{
            .img{
              text-align: center;
              img{
                max-width: 100%;
                width: auto;
              }
            }
            .info{
              padding: 10px;
              
              p{
                padding: 0;
                margin: 0;
                color: #595959;
                font-family: 'Akzid-Bol';
              }
            }
          }
          .file{
            display: flex;
            justify-content: flex-end;            
            padding: 5px;
            a{
              img{
                cursor: pointer;
                width: 120px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .wrapper{
    .content{
      .prod-sv-cont{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        .prod-sv-item{
          flex-grow: 1;
          width: 32.8%;
          max-width: 32.8%;
          display: inline-grid;
         
          margin-bottom: 10px;
          .cont{
            .img{
              transition: all 0.3s;
              cursor: pointer; 
              &:hover{
                filter: brightness(80%);
                background-color: rgba(#626262, 0.2);
              }
              img{
                min-height: 200px;
                max-height: 200px;


              }
            }
            .info{
              padding: 10px;
              p{
                padding: 0;
                margin: 0;
                color: #595959;
                font-family: 'Akzid-Bol';
              }
            }
          }
          .file{
            display: flex;
            align-self: flex-end;
            justify-content: flex-end;
            padding: 5px;
            a{
              img{
                cursor: pointer;
                width: 120px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .wrapper{
    .content{
      .prod-sv-cont{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        .prod-sv-item{
          flex-grow: 1;
          width: 24.8%;
          max-width: 24.8%;
          
      
          margin-bottom: 10px;
          .cont{
            .img{
            }
            .info{
              padding: 10px;
              p{
                padding: 0;
                margin: 0;
                color: #595959;
                font-family: 'Akzid-Bol';
              }
            }
          }
          .file{
            display: flex;
            justify-content: flex-end;
            padding: 5px;
            a{
              img{
                cursor: pointer;
                width: 120px;
              }
            }
          }
        }
      }
    }
  }
}