@charset "UTF-8";

/* Jorge Quezada */

/* Plantilla productos  Fichas Técnicas*/

@media screen and (min-width: 320px) {
  .fichas-cont {
    width: 100%;
    height: auto;
    background: linear-gradient(to top, #e8e8e9, white);
    border: 2px solid #e8e8e9;
    padding: 20px;
    .cabecera {
      display: none;
    }
    .ficha-item {
      width: 100%;
      padding: 0px;
      margin-bottom: 65px;
      div {
        img {
          width: 40px;
        }
      }
      .titulo {
        width: 100%;
        color: #2078a6;
        font-family: "Akzid-Bol";
        font-size: 22px;
        line-height: 30px;
      }
      .outer-row {
        &:nth-child(even) {
          background-color: rgba(#969696, 0.12);
        }
        .inner-row {
          padding: 10px;
          width: 100%;
          height: auto;
          min-height: 40px;
          display: block;

          .subtitle {
            // width: 30%;
            text-align: left;
            padding-left: 15px;
            ul {
              height: auto;
              width: auto;
              padding: 0;
              margin: 0;
              li {
                list-style-type: square;
                padding: 0;
                margin: 0;
                font-size: 20px;
                color: #2078a6;
                font-family: "Akzid-Reg";
              }
            }
          }
          .ficha,
          .garantia,
          .leed,
          .complementos {
            text-align: center;
            display: inline-block;
            a {
              margin: 10px 0px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              transition: all 0.3s ease-in;
              border-radius: 8px;
              margin-right: 10px;
              padding: 5px 10px;
              box-shadow: 0px 0px 11px -5px rgba(black, 0.7);

              &:hover {
                // background-color: #fff;
              }
              img {
                display: inline-block;
                margin-right: 10px;
                // box-shadow: 5px 5px 11px -5px black;
              }
              p {
                display: inline-block;
                color: #f15744;
                margin: 0;
                text-decoration: none;
              }
            }
          }
        }
        .sub-inner-row {
          padding: 10px;
          width: 100%;
          height: auto;
          min-height: 40px;
          display: block;

          .subtitle {
            text-align: left;
            padding-left: 85px;
            ul {
              height: auto;
              width: auto;
              padding: 0;
              margin: 0;
              li {
                list-style-type: square;
                padding: 0;
                margin: 0;
                font-size: 20px;
                color: #2078a6;
                font-family: "Akzid-Reg";
              }
            }
          }
          .ficha,
          .garantia {
            text-align: center;
            padding-left: 85px;
            a {
              margin: 10px 0px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              img {
                display: inline-block;
                margin-right: 10px;
                box-shadow: 5px 5px 11px -5px black;
              }
              p {
                display: inline-block;
                color: #f15744;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .fichas-cont {
    width: 100%;
    height: auto;
    background: linear-gradient(to top, #e8e8e9, white);
    border: 2px solid #e8e8e9;
    padding: 30px;
    .cabecera {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      font-family: "Akzid-Bol";
      font-size: 18px;
      margin-bottom: 40px;
      color: #727272;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        &:nth-child(1) {
          // width: 30%;
          text-align: left;
          justify-content: flex-start;
        }
        // &:nth-child(2),
        // &:nth-child(3) {
        //   width: 35%;
        //   text-align: center;
        // }
        text-align: center;
        flex: 1 0 20%;
      }
    }
    .ficha-item {
      width: 100%;
      padding: 0px;
      margin-bottom: 65px;
      div {
        img {
          width: 40px;
        }
      }
      .titulo {
        width: 100%;
        color: #2078a6;
        font-family: "Akzid-Bol";
        font-size: 18px;
        line-height: 30px;
      }
      .outer-row {
        padding: 2px;
        width: 100%;
        height: auto;
        min-height: 40px;

        &:nth-child(even) {
          background-color: rgba(#969696, 0.12);
        }
        .inner-row {
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          .subtitle {
            width: 30%;
            text-align: left;
            padding-left: 35px;
            ul {
              height: auto;
              width: auto;
              padding: 0;
              margin: 0;
              li {
                list-style-type: square;
                padding: 0;
                margin: 0;
                font-size: 16px;
                color: #2078a6;
                line-height: 1;
                font-family: "Akzid-Reg";
              }
            }
          }
          .ficha,
          .garantia,
          .leed,
          .complementos {
            text-align: center;
            flex: 1 0 20%;
            a {
              margin: 0;
              display: block;
              padding: 0;
              box-shadow: none;
              background-color: none;
              img {
                margin: 0;
                box-shadow: 5px 5px 11px -5px black;
              }
              p {
                display: none;
              }
            }
          }
        }

        .sub-inner-row {
          padding: 2px;
          width: 100%;
          height: auto;
          min-height: 40px;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          .subtitle {
            width: 30%;
            text-align: left;
            padding-left: 95px;
            ul {
              height: auto;
              width: auto;
              padding: 0;
              margin: 0;
              li {
                list-style-type: circle;
                padding: 0;
                margin: 0;
                font-size: 15px;
                color: #2078a6;
                font-family: "Akzid-Reg";
              }
            }
          }
          .ficha,
          .garantia,
          .leed,
          .complementos {
            padding: 0;
            text-align: center;
            flex: 1 0 20%;
            a {
              margin: 0;
              display: block;
              img {
                margin: 0;
                box-shadow: 5px 5px 11px -5px black;
              }
              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
